\---
layout: default
title: "About"
comments: false
sharing: false
footer: false
\---
#profile 
  %h3.subheader Profile
  %p <img src='images/profile.jpg' />Hi there, I'm Chris Polis! I am a freelance full-stack web and mobile developer based in San Luis Obispo, CA. 
  %p I studied computer engineering at <a href='http://calpoly.edu'>Cal Poly</a>. I have worked for two <a href='http://ycombinator.com'>YCombinator</a> companies(<a href='http://opzi.com'>Opzi</a>, <a href='http://scribd.com'>Scribd</a>), a <a href='http://fertileminds.co'>web design angency</a> and I am very interested in startups and bleeding edge technology.
  %p <i>I have a passion for software development and love writing highly usable, elegant and efficient code!</i>
  %p I am also interested in math, physics, analog and digital circuits and <a href='http://en.wikipedia.org/wiki/3D_printing'>3D printing</a>.
  %p I like music: seeing shows, playing guitar and collecting records.
  %p I like being outside: cycling, running, hiking and fly fishing.

#skills 
  %h3.subheader Skills
  %p <span class='ib'>Web:</span><br />Ruby on Rails(2.x, 3.x, 4.x) is my weapon of choice for web development. I do front-end design and implementation with CSS/<a href='http://sass-lang.com/'>SASS</a> and HTML/<a href='http://haml.info/'>HAML</a>. I have used JavaScript extensively for client-side and server-side development with <a href='http://jquery.com'>jQuery</a>, <a href='http://nodejs.org'>Node.js</a> and <a href='http://backbonejs.org'>Backbone.js</a>.
  %p <span class='ib'>Mobile:</span><br />I have developed for iOS and Android: I have four apps in the iTunes store and worked on the <a href='http://scribd.com'>Scribd</a> Android app.
  %p <span class='ib'>Databases:</span><br />In my work and projects I have used <a href='http://mysql.com'>MySQL</a>, <a href='http://www.postgresql.org/'>PostgreSQL</a>, <a href='http://redis.io'>redis</a> and <a href='http://mongodb.org'>MongoDB</a>. I am familiar with data warehousing, Oracle 11g and PL/SQL.
  %p <span class='ib'>Tools:</span><br />I develop on Linux and Mac OS X with vim, git, shell, et al.
  %p <span class='ib'>Misc:</span><br />For coursework and out of curiosity, I have done a fair amount of low-level programming in C, circuit design and Java programming.
#elsewhere
  %h4.subheader Availability
  %p#avail <b>I am currently available for new web or mobile projects. Please feel free to <a href='contact.html'>contact</a></b> me!
  %h4.subheader Elsewhere on the web...
  %ul
    %li 
      %a(href='http://github.com/cmpolis')GitHub
      %i - code
    %li
      %a(href='http://www.linkedin.com/pub/chris-polis/24/33/89a/')LinkedIn
      %i - skills
    %li 
      %a(href='http://stackoverflow.com/users/238672/cmpolis')Stack Overflow
      %i - technical Q&amp;A
    %li 
      %a(href='http://www.quora.com/Chris-Polis')Quora
      %i - general knowledge Q&amp;A
    %li
      %a(href='http://twitter.com/chrispolis')Twitter
      %i - tweets
    %li
      %a(href='http://instagram.com/bytemuse')Instagram
      %i - photos
    %li
      %a(href='http://soundcloud.com/chrispolis')SoundCloud
      %i - sounds
    %li 
      %a(href='http://app.strava.com/athletes/207443')Strava
      %i - cycling and running
