\---
layout: default
title: "Projects"
comments: false
sharing: false
footer: false
\---
#ridity.project
  %h3 Ridity

#pagify.project
  %h3 Pagify

#writensketch.project
  %h3 Write'n'Sketch

#music.project
  %h3 Music Theory App

#visualinformer.project
  %h3 Visual Informer

#cellarjoy.project
  %h3 CellarJoy
