\---
layout: default
title: "Projects"
comments: false
sharing: false
footer: false
\---

#projects
  %h2 Open Source
  %ul
    %li
      %a(href='https://github.com/cmpolis/Pagify') Pagify.js
      \- a popular jQuery plugin that simplifies creating single page websites
    %li
      %a(href='https://github.com/cmpolis/convertSTL') ConvertSTL
      \- a utility to convert .STL files between ASCII and binary encoding

  %h2 Web
  %ul
    %li
      %a(href='http://visualinformer.com') VisualInformer
      \- a visual(a la pinterest) news aggregator (<i>currently inactive</i>)
    %li
      %a(href='http://ridity.com') Ridity
      \- a cycling log and elevation profile generator
    %li
      %a(href='http://syschat.com') SysChat
      \- a computer/tech support forum (<i>founded this site, but no longer run it</i>)
    %li
      %a(href='http://cellarjoy.com') CellarJoy
      \- a social wine tasting and discovery site 
  %h2 Mobile
  %ul
    %li
      %a(href='http://writensketch.com') Write'n'Sketch
      %span.sublink
        %a(href='http://itunes.apple.com/us/app/writensketch/id511212680?ls=1&mt=8') iTunes
      \- a telephone-pictionary/social game for iOS
    %li
      %a(href='https://itunes.apple.com/us/app/paintpad-lite/id505375116?mt=8') PaintPad
      \- a simple drawing app for iOS
    %li
      <i>In progress:</i> an iOS app for learning music theory and ear training
  %h2 Misc
  %ul
    %li
      %a(href='https://github.com/cmpolis/project_euler') Project Euler Solutions
      \- elegant solutions in Ruby to <a href='http://projecteuler.net/'>Project Euler</a> math problems
