!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title 
      ByteMuse
      {% if page.title %}
      \- {{ page.title }}
      {% endif %}
    %meta(http-equiv='Content-Type' content='text/html' charset='utf-8')
    %link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    %link(rel='stylesheet' href='/stylesheets/app.css' type='text/css')
    %script(type="text/javascript")

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23674172-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #container
      %header
        %h1
          %a(href='/')ByteMuse
          %small 
            The Code and Musings of 
            %a(href='http://twitter.com/chrispolis') @ChrisPolis
        %nav
          %a(href='/') Posts
          %a(href='/projects.html') Projects
          %a(href='/about.html') About
          %a(href='/contact.html') Contact
      #content
        {{ content | expand_urls: root_url }}
      %footer
        %p 
          Powered by <a href='http://octopress.org/'>Octopress</a>, hosted on <a href='http://github.com'>Github</a>, design and content by Chris Polis © 2012, 2013
