\---
layout: default
single: true
\---
%a(rel='author' href='https://plus.google.com/117393114751838266156')
%article.hentry(role='article')
  %h1.entry-title.post-title
    \{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
  %span.date.updated.post-time
    \{% include post/date.html %}{{ time }}
  %span.spacer
    \-
  %span.post-author.vcard.author
    %span.fn Chris Polis

  .entry-content.post-content
    \{{ content }}

  .post-comments
    /%a(href="https://twitter.com/share" class="twitter-share-button" data-via="ChrisPolis")Tweet
    /%script
    / !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    /%script(type="text/javascript")
    /  var likeIt = '<iframe src="http://www.facebook.com/plugins/like.php?href='+document.URL+'" scrolling="no" layout="button_count" frameborder="0" style="border:none; width:450px; height:24px;"></iframe>';
    /  document.write(likeIt); 

    /%iframe(src="//www.facebook.com/plugins/like.php?href="+window.URL+"&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=403919139668608" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true")

    #disqus_thread
    %script(type='text/javascript')
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'bytemuse'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

    %noscript
      Please enable JavaScript to view the 
      %a(href="http://disqus.com/?ref_noscript")comments powered by Disqus.
